body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3874 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:674px;
}
#u3875 {
  position:absolute;
  left:2px;
  top:329px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u3876 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u3877 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3878 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u3879 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3880 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u3881 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3882 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u3883 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3884 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u3885 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3886 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u3887 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3888 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3889 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u3890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3890 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3891 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u3892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u3892 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u3893 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3894 {
  position:absolute;
  left:190px;
  top:1px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3895 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3896 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3897 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3898 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3899 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3900 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3901 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u3902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3902 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3903 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3904 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3905 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3906 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u3907 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u3909 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3910 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3912 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u3913 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u3914_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3914 {
  position:absolute;
  left:416px;
  top:469px;
  width:30px;
  height:30px;
}
#u3915 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u3916 {
  position:absolute;
  left:7px;
  top:477px;
  width:408px;
  height:117px;
  color:#000000;
  text-align:right;
}
#u3917 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
#u3918_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3918 {
  position:absolute;
  left:758px;
  top:407px;
  width:30px;
  height:30px;
}
#u3919 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  line-height:16px;
}
#u3920 {
  position:absolute;
  left:794px;
  top:413px;
  width:275px;
  height:82px;
  color:#1E1E1E;
  line-height:16px;
}
#u3921 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u3922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:541px;
}
#u3922 {
  position:absolute;
  left:472px;
  top:118px;
  width:262px;
  height:541px;
}
#u3923 {
  position:absolute;
  left:2px;
  top:262px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3924 {
  position:absolute;
  left:446px;
  top:484px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3924_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:148px;
  height:8px;
}
#u3924_seg1 {
  position:absolute;
  left:140px;
  top:-4px;
  width:8px;
  height:31px;
}
#u3925 {
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3926 {
  position:absolute;
  left:758px;
  top:422px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3926_seg0 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:93px;
  height:8px;
}
#u3926_seg1 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:8px;
  height:10px;
}
#u3927 {
  position:absolute;
  left:-98px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3929 {
  position:absolute;
  left:7px;
  top:126px;
  width:171px;
  height:56px;
  font-size:18px;
}
#u3930 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
