body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1661 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:674px;
}
#u1662 {
  position:absolute;
  left:2px;
  top:329px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u1663 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u1665 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u1667 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u1668 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u1669 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u1670 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u1671 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u1672 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u1673 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1675 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1676 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1677 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1678 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u1679 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u1680 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u1681 {
  position:absolute;
  left:190px;
  top:1px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1682 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u1683 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1684 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u1685 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1686 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1687 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1688 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u1689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u1689 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1690 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u1691 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1692 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u1693 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u1696 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1697 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u1699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1699 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u1700 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u1701_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1701 {
  position:absolute;
  left:416px;
  top:469px;
  width:30px;
  height:30px;
}
#u1702 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u1703 {
  position:absolute;
  left:7px;
  top:477px;
  width:408px;
  height:117px;
  color:#000000;
  text-align:right;
}
#u1704 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
#u1705_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1705 {
  position:absolute;
  left:758px;
  top:407px;
  width:30px;
  height:30px;
}
#u1706 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  line-height:16px;
}
#u1707 {
  position:absolute;
  left:794px;
  top:413px;
  width:275px;
  height:82px;
  color:#1E1E1E;
  line-height:16px;
}
#u1708 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u1709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:541px;
}
#u1709 {
  position:absolute;
  left:472px;
  top:118px;
  width:262px;
  height:541px;
}
#u1710 {
  position:absolute;
  left:2px;
  top:262px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711 {
  position:absolute;
  left:446px;
  top:484px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1711_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:148px;
  height:8px;
}
#u1711_seg1 {
  position:absolute;
  left:140px;
  top:-4px;
  width:8px;
  height:31px;
}
#u1712 {
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1713 {
  position:absolute;
  left:758px;
  top:422px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1713_seg0 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:93px;
  height:8px;
}
#u1713_seg1 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:8px;
  height:10px;
}
#u1714 {
  position:absolute;
  left:-98px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1716 {
  position:absolute;
  left:7px;
  top:126px;
  width:171px;
  height:56px;
  font-size:18px;
}
#u1717 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
