body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2808 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
}
#u2809 {
  position:absolute;
  left:2px;
  top:329px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u2810 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u2811 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u2812 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u2813 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u2814 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u2815 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u2816 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u2817 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u2818 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u2819 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u2820 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u2821 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2822 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2823 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u2824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2824 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2825 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u2826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2826 {
  position:absolute;
  left:402px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2827 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u2828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u2828 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u2829 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u2830 {
  position:absolute;
  left:190px;
  top:1px;
  width:100px;
  height:68px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2831 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u2832 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2833 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u2834 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2835 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2836 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2837 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u2838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u2838 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2839 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u2840 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2841 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u2842 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u2843 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u2845 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2846 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u2848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2848 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u2849 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
