body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3648 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:674px;
}
#u3649 {
  position:absolute;
  left:2px;
  top:329px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u3650 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u3651 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3652 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u3653 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3654 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u3655 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3656 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u3657 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3658 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u3659 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3660 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u3661 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3662 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3663 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u3664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3664 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3665 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u3666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u3666 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u3667 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3668 {
  position:absolute;
  left:190px;
  top:1px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3669 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3670 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3671 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3672 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3673 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3674 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3675 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u3676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3676 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3677 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3678 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3679 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3680 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u3681 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u3683 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3684 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u3686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3686 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u3687 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u3688_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3688 {
  position:absolute;
  left:418px;
  top:161px;
  width:30px;
  height:30px;
}
#u3689 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3690_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3690 {
  position:absolute;
  left:418px;
  top:318px;
  width:30px;
  height:30px;
}
#u3691 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3692_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3692 {
  position:absolute;
  left:419px;
  top:382px;
  width:30px;
  height:30px;
}
#u3693 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3694_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3694 {
  position:absolute;
  left:758px;
  top:191px;
  width:30px;
  height:30px;
}
#u3695 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u3696 {
  position:absolute;
  left:11px;
  top:167px;
  width:408px;
  height:84px;
  color:#000000;
  text-align:right;
}
#u3697 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
#u3698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u3698 {
  position:absolute;
  left:264px;
  top:261px;
  width:154px;
  height:36px;
  color:#000000;
  text-align:right;
}
#u3699 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u3700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u3700 {
  position:absolute;
  left:229px;
  top:324px;
  width:190px;
  height:36px;
  color:#000000;
  text-align:right;
}
#u3701 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u3702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u3702 {
  position:absolute;
  left:230px;
  top:383px;
  width:190px;
  height:39px;
  color:#000000;
  text-align:right;
}
#u3703 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u3704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  line-height:16px;
}
#u3704 {
  position:absolute;
  left:788px;
  top:197px;
  width:275px;
  height:82px;
  color:#1E1E1E;
  line-height:16px;
}
#u3705 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u3706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:right;
}
#u3706 {
  position:absolute;
  left:228px;
  top:463px;
  width:190px;
  height:79px;
  color:#1E1E1E;
  text-align:right;
}
#u3707 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u3708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:541px;
}
#u3708 {
  position:absolute;
  left:472px;
  top:118px;
  width:261px;
  height:541px;
}
#u3709 {
  position:absolute;
  left:2px;
  top:262px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:right;
}
#u3710 {
  position:absolute;
  left:228px;
  top:575px;
  width:190px;
  height:79px;
  color:#1E1E1E;
  text-align:right;
}
#u3711 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u3712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u3712 {
  position:absolute;
  left:788px;
  top:421px;
  width:403px;
  height:133px;
  color:#1E1E1E;
}
#u3713 {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  word-wrap:break-word;
}
#u3714_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3714 {
  position:absolute;
  left:758px;
  top:302px;
  width:30px;
  height:30px;
}
#u3715 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3716 {
  position:absolute;
  left:758px;
  top:317px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3716_seg0 {
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u3716_seg1 {
  position:absolute;
  left:-57px;
  top:-92px;
  width:8px;
  height:96px;
}
#u3717 {
  position:absolute;
  left:-103px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3718 {
  position:absolute;
  left:758px;
  top:206px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3718_seg0 {
  position:absolute;
  left:-227px;
  top:-4px;
  width:227px;
  height:8px;
}
#u3718_seg1 {
  position:absolute;
  left:-227px;
  top:-4px;
  width:8px;
  height:14px;
}
#u3719 {
  position:absolute;
  left:-166px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  line-height:16px;
}
#u3720 {
  position:absolute;
  left:788px;
  top:309px;
  width:432px;
  height:89px;
  color:#1E1E1E;
  line-height:16px;
}
#u3721 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u3722 {
  position:absolute;
  left:448px;
  top:176px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3722_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u3722_seg1 {
  position:absolute;
  left:46px;
  top:-4px;
  width:8px;
  height:59px;
}
#u3723 {
  position:absolute;
  left:0px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3724 {
  position:absolute;
  left:449px;
  top:397px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3724_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u3724_seg1 {
  position:absolute;
  left:43px;
  top:-14px;
  width:8px;
  height:18px;
}
#u3725 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3726 {
  position:absolute;
  left:418px;
  top:268px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3726_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u3726_seg1 {
  position:absolute;
  left:75px;
  top:-12px;
  width:8px;
  height:16px;
}
#u3727 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3728 {
  position:absolute;
  left:448px;
  top:331px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3728_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u3728_seg1 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:52px;
  height:8px;
}
#u3729 {
  position:absolute;
  left:-27px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3730 {
  position:absolute;
  left:418px;
  top:470px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3730_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u3730_seg1 {
  position:absolute;
  left:70px;
  top:-4px;
  width:8px;
  height:5px;
}
#u3731 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3732 {
  position:absolute;
  left:418px;
  top:583px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3732_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u3733 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3734 {
  position:absolute;
  left:787px;
  top:429px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3734_seg0 {
  position:absolute;
  left:-87px;
  top:-4px;
  width:87px;
  height:8px;
}
#u3734_seg1 {
  position:absolute;
  left:-87px;
  top:-41px;
  width:8px;
  height:45px;
}
#u3735 {
  position:absolute;
  left:-112px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3736_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3736 {
  position:absolute;
  left:758px;
  top:414px;
  width:30px;
  height:30px;
}
#u3737 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3738_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3738 {
  position:absolute;
  left:418px;
  top:253px;
  width:30px;
  height:30px;
}
#u3739 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3740_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3740 {
  position:absolute;
  left:418px;
  top:455px;
  width:30px;
  height:30px;
}
#u3741 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3742_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3742 {
  position:absolute;
  left:418px;
  top:568px;
  width:30px;
  height:30px;
}
#u3743 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u3744 {
  position:absolute;
  left:788px;
  top:580px;
  width:403px;
  height:133px;
  color:#1E1E1E;
}
#u3745 {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  word-wrap:break-word;
}
#u3746_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3746 {
  position:absolute;
  left:758px;
  top:576px;
  width:30px;
  height:30px;
}
#u3747 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3748 {
  position:absolute;
  left:758px;
  top:591px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3748_seg0 {
  position:absolute;
  left:-193px;
  top:-4px;
  width:193px;
  height:8px;
}
#u3748_seg1 {
  position:absolute;
  left:-193px;
  top:-17px;
  width:8px;
  height:21px;
}
#u3749 {
  position:absolute;
  left:-153px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3751 {
  position:absolute;
  left:7px;
  top:126px;
  width:171px;
  height:56px;
  font-size:18px;
}
#u3752 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
