body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3464 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:674px;
}
#u3465 {
  position:absolute;
  left:2px;
  top:329px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u3466 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u3467 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3468 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u3469 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3470 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u3471 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3472 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u3473 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3474 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u3475 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3476 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u3477 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3478 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3479 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u3480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3480 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3481 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u3482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u3482 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u3483 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3484 {
  position:absolute;
  left:190px;
  top:1px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3485 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3486 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3487 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3488 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3489 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3490 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3491 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u3492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3492 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3493 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3494 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3495 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3496 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u3497 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u3499 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3500 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u3502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3502 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u3503 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u3505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3505 {
  position:absolute;
  left:7px;
  top:126px;
  width:171px;
  height:56px;
  font-size:18px;
}
#u3506 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
#u3507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:541px;
}
#u3507 {
  position:absolute;
  left:228px;
  top:119px;
  width:264px;
  height:541px;
}
#u3508 {
  position:absolute;
  left:2px;
  top:262px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:108px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3509 {
  position:absolute;
  left:547px;
  top:454px;
  width:132px;
  height:108px;
}
#u3510 {
  position:absolute;
  left:10px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u3511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:69px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3511 {
  position:absolute;
  left:547px;
  top:272px;
  width:119px;
  height:69px;
}
#u3512 {
  position:absolute;
  left:10px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u3513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:542px;
}
#u3513 {
  position:absolute;
  left:739px;
  top:118px;
  width:261px;
  height:542px;
}
#u3514 {
  position:absolute;
  left:2px;
  top:263px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3515 {
  position:absolute;
  left:547px;
  top:307px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3515_seg0 {
  position:absolute;
  left:-151px;
  top:-4px;
  width:151px;
  height:8px;
}
#u3515_seg1 {
  position:absolute;
  left:-151px;
  top:-4px;
  width:8px;
  height:63px;
}
#u3516 {
  position:absolute;
  left:-153px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3517 {
  position:absolute;
  left:547px;
  top:508px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3517_seg0 {
  position:absolute;
  left:-108px;
  top:-4px;
  width:108px;
  height:8px;
}
#u3517_seg1 {
  position:absolute;
  left:-108px;
  top:-97px;
  width:8px;
  height:101px;
}
#u3518 {
  position:absolute;
  left:-150px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3519 {
  position:absolute;
  left:852px;
  top:288px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3519_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u3519_seg1 {
  position:absolute;
  left:-4px;
  top:39px;
  width:171px;
  height:8px;
}
#u3520 {
  position:absolute;
  left:12px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3521 {
  position:absolute;
  left:1019px;
  top:256px;
  width:150px;
  height:150px;
}
#u3522 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
