body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1194px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4033 {
  position:absolute;
  left:-6px;
  top:68px;
  width:1200px;
  height:674px;
}
#u4034 {
  position:absolute;
  left:2px;
  top:329px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:541px;
}
#u4035 {
  position:absolute;
  left:472px;
  top:118px;
  width:263px;
  height:541px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:262px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u4037 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4039 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u4040 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4041 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4043 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4045 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u4046 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4047 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u4048 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4049 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4050 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4051 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4052 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u4053 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u4054 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4055 {
  position:absolute;
  left:190px;
  top:1px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4056 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4057 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4058 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4059 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4060 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4061 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4062 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u4063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4063 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4064 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4065 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4066 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4067 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u4068 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u4070 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4071 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4073 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u4074 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u4075_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4075 {
  position:absolute;
  left:419px;
  top:219px;
  width:30px;
  height:30px;
}
#u4076 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u4077_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4077 {
  position:absolute;
  left:758px;
  top:438px;
  width:30px;
  height:30px;
}
#u4078 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u4079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
  line-height:16px;
}
#u4079 {
  position:absolute;
  left:162px;
  top:224px;
  width:257px;
  height:46px;
  text-align:right;
  line-height:16px;
}
#u4080 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u4081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4081 {
  position:absolute;
  left:788px;
  top:447px;
  width:339px;
  height:132px;
}
#u4082 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u4083_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4083 {
  position:absolute;
  left:758px;
  top:279px;
  width:30px;
  height:30px;
}
#u4084 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u4085 {
  position:absolute;
  left:758px;
  top:294px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4085_seg0 {
  position:absolute;
  left:-46px;
  top:-4px;
  width:50px;
  height:8px;
}
#u4086 {
  position:absolute;
  left:-73px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4087 {
  position:absolute;
  left:449px;
  top:234px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4087_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u4088 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4089 {
  position:absolute;
  left:790px;
  top:284px;
  width:337px;
  height:76px;
}
#u4090 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u4091 {
  position:absolute;
  left:758px;
  top:453px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4091_seg0 {
  position:absolute;
  left:-51px;
  top:-4px;
  width:55px;
  height:8px;
}
#u4092 {
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4093_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4093 {
  position:absolute;
  left:419px;
  top:438px;
  width:30px;
  height:30px;
}
#u4094 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u4095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
  line-height:16px;
}
#u4095 {
  position:absolute;
  left:68px;
  top:446px;
  width:351px;
  height:85px;
  text-align:right;
  line-height:16px;
}
#u4096 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u4097 {
  position:absolute;
  left:449px;
  top:453px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4097_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u4097_seg1 {
  position:absolute;
  left:38px;
  top:-4px;
  width:8px;
  height:47px;
}
#u4097_seg2 {
  position:absolute;
  left:38px;
  top:35px;
  width:21px;
  height:8px;
}
#u4097_seg3 {
  position:absolute;
  left:51px;
  top:39px;
  width:8px;
  height:4px;
}
#u4098 {
  position:absolute;
  left:-8px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4100 {
  position:absolute;
  left:7px;
  top:126px;
  width:171px;
  height:56px;
  font-size:18px;
}
#u4101 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
