body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
  font-size:20px;
}
#u59 {
  position:absolute;
  left:2px;
  top:329px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u60 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u62 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u63 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u64 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u66 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u68 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u69 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u70 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u72 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u74 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u76 {
  position:absolute;
  left:402px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u78 {
  position:absolute;
  left:502px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u80 {
  position:absolute;
  left:603px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u83 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u84 {
  position:absolute;
  left:190px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u85 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u86 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u87 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u88 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u89 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u90 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u92 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u93 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u94 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u95 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u96 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u97 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u100 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u103 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:3392px;
  top:1058px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u104_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:10px;
}
#u104_seg1 {
  position:absolute;
  left:-270px;
  top:2px;
  width:274px;
  height:8px;
}
#u105 {
  position:absolute;
  left:-182px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u106 {
  position:absolute;
  left:168px;
  top:121px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u108 {
  position:absolute;
  left:227px;
  top:177px;
  width:213px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
