body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4104 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:674px;
}
#u4105 {
  position:absolute;
  left:2px;
  top:329px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:538px;
}
#u4106 {
  position:absolute;
  left:475px;
  top:122px;
  width:264px;
  height:538px;
}
#u4107 {
  position:absolute;
  left:2px;
  top:261px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:61px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4108 {
  position:absolute;
  left:788px;
  top:423px;
  width:179px;
  height:61px;
}
#u4109 {
  position:absolute;
  left:10px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u4110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4110 {
  position:absolute;
  left:788px;
  top:239px;
  width:144px;
  height:38px;
}
#u4111 {
  position:absolute;
  left:10px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u4112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u4112 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u4113 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4114 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u4115 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4116 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u4117 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4118 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u4119 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4120 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u4121 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4122 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u4123 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4124 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4125 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4126 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4127 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u4128 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u4129 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4130 {
  position:absolute;
  left:190px;
  top:1px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4131 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4132 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4133 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4134 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4135 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4136 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4137 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u4138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4138 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4139 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4140 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4141 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4142 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u4143 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u4145 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4146 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u4148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4148 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u4149 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u4150_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4150 {
  position:absolute;
  left:758px;
  top:239px;
  width:30px;
  height:30px;
}
#u4151 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u4152 {
  position:absolute;
  left:758px;
  top:254px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4152_seg0 {
  position:absolute;
  left:-196px;
  top:-4px;
  width:196px;
  height:8px;
}
#u4152_seg1 {
  position:absolute;
  left:-196px;
  top:-4px;
  width:8px;
  height:5px;
}
#u4153 {
  position:absolute;
  left:-146px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4155 {
  position:absolute;
  left:7px;
  top:126px;
  width:171px;
  height:56px;
  font-size:18px;
}
#u4156 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
#u4157 {
  position:absolute;
  left:788px;
  top:454px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4157_seg0 {
  position:absolute;
  left:-237px;
  top:-4px;
  width:237px;
  height:8px;
}
#u4157_seg1 {
  position:absolute;
  left:-237px;
  top:-4px;
  width:8px;
  height:130px;
}
#u4158 {
  position:absolute;
  left:-230px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4159_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4159 {
  position:absolute;
  left:758px;
  top:438px;
  width:30px;
  height:30px;
}
#u4160 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
