body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
}
#u961 {
  position:absolute;
  left:2px;
  top:329px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u962 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u963 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u964 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u965 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u966 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u967 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u968 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u969 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u970 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u971 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u972 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u973 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u974 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u976 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u978 {
  position:absolute;
  left:402px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u980 {
  position:absolute;
  left:502px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u982 {
  position:absolute;
  left:603px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u985 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u986 {
  position:absolute;
  left:190px;
  top:1px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u987 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u988 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u989 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u990 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u991 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u992 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u994 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u995 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u996 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u997 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u998 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u999 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1002 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1004 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1006 {
  position:absolute;
  left:168px;
  top:121px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1008 {
  position:absolute;
  left:703px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1010 {
  position:absolute;
  left:311px;
  top:130px;
  width:113px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:398px;
}
#u1012 {
  position:absolute;
  left:172px;
  top:235px;
  width:224px;
  height:398px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:191px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014 {
  position:absolute;
  left:313px;
  top:427px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1014_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:166px;
  height:8px;
}
#u1015 {
  position:absolute;
  left:31px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:77px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:475px;
  top:388px;
  width:139px;
  height:77px;
}
#u1017 {
  position:absolute;
  left:10px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1018 {
  position:absolute;
  left:242px;
  top:197px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:398px;
}
#u1020 {
  position:absolute;
  left:172px;
  top:700px;
  width:224px;
  height:398px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:191px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:398px;
}
#u1022 {
  position:absolute;
  left:684px;
  top:701px;
  width:224px;
  height:398px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:191px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024 {
  position:absolute;
  left:325px;
  top:898px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1024_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u1024_seg1 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:363px;
  height:8px;
}
#u1025 {
  position:absolute;
  left:128px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:77px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1026 {
  position:absolute;
  left:967px;
  top:861px;
  width:139px;
  height:77px;
}
#u1027 {
  position:absolute;
  left:10px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1028 {
  position:absolute;
  left:908px;
  top:900px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1028_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u1029 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030 {
  position:absolute;
  left:300px;
  top:735px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1030_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:671px;
  height:8px;
}
#u1030_seg1 {
  position:absolute;
  left:663px;
  top:-4px;
  width:8px;
  height:15px;
}
#u1031 {
  position:absolute;
  left:289px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:77px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1032 {
  position:absolute;
  left:967px;
  top:707px;
  width:139px;
  height:77px;
}
#u1033 {
  position:absolute;
  left:10px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:398px;
}
#u1034 {
  position:absolute;
  left:684px;
  top:235px;
  width:224px;
  height:398px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:191px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036 {
  position:absolute;
  left:895px;
  top:548px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1036_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u1037 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:77px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1038 {
  position:absolute;
  left:967px;
  top:509px;
  width:139px;
  height:77px;
}
#u1039 {
  position:absolute;
  left:10px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1040 {
  position:absolute;
  left:242px;
  top:660px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:398px;
}
#u1042 {
  position:absolute;
  left:172px;
  top:1226px;
  width:224px;
  height:398px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:191px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044 {
  position:absolute;
  left:396px;
  top:1425px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1044_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u1045 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:77px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  position:absolute;
  left:475px;
  top:1386px;
  width:139px;
  height:77px;
}
#u1047 {
  position:absolute;
  left:10px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:398px;
}
#u1048 {
  position:absolute;
  left:684px;
  top:1226px;
  width:224px;
  height:398px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:191px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050 {
  position:absolute;
  left:908px;
  top:1425px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1050_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u1051 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:77px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  position:absolute;
  left:967px;
  top:1386px;
  width:139px;
  height:77px;
}
#u1053 {
  position:absolute;
  left:10px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:398px;
}
#u1054 {
  position:absolute;
  left:172px;
  top:1769px;
  width:224px;
  height:398px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:191px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056 {
  position:absolute;
  left:396px;
  top:1968px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1056_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u1057 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:77px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1058 {
  position:absolute;
  left:475px;
  top:1929px;
  width:139px;
  height:77px;
}
#u1059 {
  position:absolute;
  left:10px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:398px;
}
#u1060 {
  position:absolute;
  left:684px;
  top:1769px;
  width:224px;
  height:398px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:191px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062 {
  position:absolute;
  left:908px;
  top:1968px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1062_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u1063 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:156px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1064 {
  position:absolute;
  left:967px;
  top:1890px;
  width:163px;
  height:156px;
}
#u1065 {
  position:absolute;
  left:10px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:398px;
}
#u1066 {
  position:absolute;
  left:172px;
  top:2331px;
  width:224px;
  height:398px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:191px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:54px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1068 {
  position:absolute;
  left:475px;
  top:2423px;
  width:151px;
  height:54px;
}
#u1069 {
  position:absolute;
  left:10px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1070 {
  position:absolute;
  left:475px;
  top:2450px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1070_seg0 {
  position:absolute;
  left:-113px;
  top:-4px;
  width:113px;
  height:8px;
}
#u1070_seg1 {
  position:absolute;
  left:-113px;
  top:-4px;
  width:8px;
  height:5px;
}
#u1071 {
  position:absolute;
  left:-105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072 {
  position:absolute;
  left:396px;
  top:2530px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1072_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u1073 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:122px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1074 {
  position:absolute;
  left:475px;
  top:2503px;
  width:151px;
  height:122px;
}
#u1075 {
  position:absolute;
  left:10px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
