body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2125 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:674px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:329px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u2127 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u2129 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u2131 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u2133 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u2135 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u2137 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2139 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2141 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u2145 {
  position:absolute;
  left:190px;
  top:1px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2146 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u2147 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2148 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u2149 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2150 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2151 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2152 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u2153 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2154 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u2155 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2156 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u2157 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:542px;
}
#u2159 {
  position:absolute;
  left:475px;
  top:118px;
  width:264px;
  height:542px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:263px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u2162 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2163 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2165 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u2167_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2167 {
  position:absolute;
  left:758px;
  top:191px;
  width:30px;
  height:30px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:16px;
}
#u2169 {
  position:absolute;
  left:788px;
  top:197px;
  width:257px;
  height:46px;
  line-height:16px;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u2171 {
  position:absolute;
  left:209px;
  top:234px;
  width:208px;
  height:51px;
  color:#000000;
  text-align:right;
}
#u2172 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u2173 {
  position:absolute;
  left:148px;
  top:324px;
  width:269px;
  height:74px;
  color:#000000;
  text-align:right;
}
#u2174 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u2175 {
  position:absolute;
  left:-29px;
  top:435px;
  width:448px;
  height:56px;
  color:#000000;
  text-align:right;
}
#u2176 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  word-wrap:break-word;
}
#u2177_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2177 {
  position:absolute;
  left:758px;
  top:262px;
  width:30px;
  height:30px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:16px;
}
#u2179 {
  position:absolute;
  left:788px;
  top:268px;
  width:257px;
  height:46px;
  line-height:16px;
}
#u2180 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u2181 {
  position:absolute;
  left:758px;
  top:277px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2181_seg0 {
  position:absolute;
  left:-119px;
  top:-4px;
  width:123px;
  height:8px;
}
#u2182 {
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183 {
  position:absolute;
  left:758px;
  top:206px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2183_seg0 {
  position:absolute;
  left:-61px;
  top:-4px;
  width:61px;
  height:8px;
}
#u2183_seg1 {
  position:absolute;
  left:-61px;
  top:-4px;
  width:8px;
  height:12px;
}
#u2184 {
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185 {
  position:absolute;
  left:417px;
  top:241px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2185_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:153px;
  height:8px;
}
#u2185_seg1 {
  position:absolute;
  left:145px;
  top:-4px;
  width:8px;
  height:5px;
}
#u2186 {
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2187 {
  position:absolute;
  left:417px;
  top:226px;
  width:30px;
  height:30px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2189_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2189 {
  position:absolute;
  left:758px;
  top:324px;
  width:30px;
  height:30px;
}
#u2190 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:16px;
}
#u2191 {
  position:absolute;
  left:788px;
  top:330px;
  width:257px;
  height:46px;
  line-height:16px;
}
#u2192 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u2193 {
  position:absolute;
  left:758px;
  top:339px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2193_seg0 {
  position:absolute;
  left:-119px;
  top:-4px;
  width:123px;
  height:8px;
}
#u2194 {
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195 {
  position:absolute;
  left:417px;
  top:331px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2195_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:86px;
  height:8px;
}
#u2196 {
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2197 {
  position:absolute;
  left:417px;
  top:316px;
  width:30px;
  height:30px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2199 {
  position:absolute;
  left:417px;
  top:442px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2199_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:119px;
  height:8px;
}
#u2199_seg1 {
  position:absolute;
  left:111px;
  top:-12px;
  width:8px;
  height:16px;
}
#u2200 {
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2201 {
  position:absolute;
  left:417px;
  top:427px;
  width:30px;
  height:30px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2204 {
  position:absolute;
  left:7px;
  top:126px;
  width:171px;
  height:56px;
  font-size:18px;
}
#u2205 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
#u2206 {
  position:absolute;
  left:488px;
  top:231px;
  width:129px;
  height:25px;
  overflow:hidden;
}
#u2206_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2206_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2207_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2207 {
  position:absolute;
  left:758px;
  top:393px;
  width:30px;
  height:30px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:16px;
}
#u2209 {
  position:absolute;
  left:788px;
  top:399px;
  width:257px;
  height:46px;
  line-height:16px;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u2211 {
  position:absolute;
  left:758px;
  top:408px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2211_seg0 {
  position:absolute;
  left:-119px;
  top:-4px;
  width:123px;
  height:8px;
}
#u2212 {
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
