.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
}
.image {
  color:#000000;
}
.button {
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
.table_cell {
}
._流程形状 {
}
._连接线 {
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
._文本段落 {
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._文本框 {
  color:#000000;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.icon {
}
.primary_button {
  color:#FFFFFF;
}
.box_2 {
}
.box_1 {
}
.checkbox {
  text-align:left;
}
._复选框 {
  text-align:left;
}
.box_3 {
}
.ellipse {
}
.image1 {
}
._图片 {
  color:#000000;
}
._图片1 {
  color:#000000;
}
.flow_shape {
}
._形状1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.box_11 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.label1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.placeholder {
}
.box_31 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
._连接符 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
._连接符1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
.text_link_mouse_over {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.text_link_mouse_down {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.label2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
._图像 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
._页面上导航 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
.table_cell1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.radio_button {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.button1 {
}
.primary_button1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.connector {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.line {
}
._垂直线 {
}
