body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u607 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
}
#u608 {
  position:absolute;
  left:2px;
  top:329px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u609 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u610 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u611 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u612 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u613 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u614 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u615 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u616 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u617 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u618 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u619 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u620 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u621 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u623 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u624 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u625 {
  position:absolute;
  left:402px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u626 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u627 {
  position:absolute;
  left:502px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u628 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u629 {
  position:absolute;
  left:603px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u631 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u632 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u633 {
  position:absolute;
  left:190px;
  top:1px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u634 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u635 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u636 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u637 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u638 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u639 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u641 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u642 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u643 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u644 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u645 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u646 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u649 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u651 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u652 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u653 {
  position:absolute;
  left:168px;
  top:121px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u655 {
  position:absolute;
  left:34px;
  top:168px;
  width:1133px;
  height:248px;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  color:#FFFFFF;
}
#u657 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u658 {
  position:absolute;
  left:96px;
  top:0px;
  width:93px;
  height:20px;
  color:#FFFFFF;
}
#u659 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u660 {
  position:absolute;
  left:189px;
  top:0px;
  width:169px;
  height:20px;
  color:#FFFFFF;
}
#u661 {
  position:absolute;
  left:2px;
  top:2px;
  width:165px;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:20px;
}
#u662 {
  position:absolute;
  left:358px;
  top:0px;
  width:588px;
  height:20px;
  color:#FFFFFF;
}
#u663 {
  position:absolute;
  left:2px;
  top:2px;
  width:584px;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u664 {
  position:absolute;
  left:946px;
  top:0px;
  width:86px;
  height:20px;
  color:#FFFFFF;
}
#u665 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u666 {
  position:absolute;
  left:1032px;
  top:0px;
  width:96px;
  height:20px;
  color:#FFFFFF;
}
#u667 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:52px;
}
#u668 {
  position:absolute;
  left:0px;
  top:20px;
  width:96px;
  height:52px;
}
#u669 {
  position:absolute;
  left:2px;
  top:18px;
  width:92px;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:52px;
}
#u670 {
  position:absolute;
  left:96px;
  top:20px;
  width:93px;
  height:52px;
}
#u671 {
  position:absolute;
  left:2px;
  top:18px;
  width:89px;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:52px;
}
#u672 {
  position:absolute;
  left:189px;
  top:20px;
  width:169px;
  height:52px;
  text-align:left;
}
#u673 {
  position:absolute;
  left:2px;
  top:18px;
  width:165px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:52px;
}
#u674 {
  position:absolute;
  left:358px;
  top:20px;
  width:588px;
  height:52px;
  text-align:left;
}
#u675 {
  position:absolute;
  left:2px;
  top:10px;
  width:584px;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:52px;
}
#u676 {
  position:absolute;
  left:946px;
  top:20px;
  width:86px;
  height:52px;
}
#u677 {
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:52px;
}
#u678 {
  position:absolute;
  left:1032px;
  top:20px;
  width:96px;
  height:52px;
}
#u679 {
  position:absolute;
  left:2px;
  top:18px;
  width:92px;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:87px;
}
#u680 {
  position:absolute;
  left:0px;
  top:72px;
  width:96px;
  height:87px;
}
#u681 {
  position:absolute;
  left:2px;
  top:36px;
  width:92px;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:87px;
}
#u682 {
  position:absolute;
  left:96px;
  top:72px;
  width:93px;
  height:87px;
}
#u683 {
  position:absolute;
  left:2px;
  top:36px;
  width:89px;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:87px;
}
#u684 {
  position:absolute;
  left:189px;
  top:72px;
  width:169px;
  height:87px;
  text-align:left;
}
#u685 {
  position:absolute;
  left:2px;
  top:36px;
  width:165px;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:87px;
}
#u686 {
  position:absolute;
  left:358px;
  top:72px;
  width:588px;
  height:87px;
  text-align:left;
}
#u687 {
  position:absolute;
  left:2px;
  top:20px;
  width:584px;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:87px;
}
#u688 {
  position:absolute;
  left:946px;
  top:72px;
  width:86px;
  height:87px;
}
#u689 {
  position:absolute;
  left:2px;
  top:36px;
  width:82px;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:87px;
}
#u690 {
  position:absolute;
  left:1032px;
  top:72px;
  width:96px;
  height:87px;
}
#u691 {
  position:absolute;
  left:2px;
  top:36px;
  width:92px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:84px;
}
#u692 {
  position:absolute;
  left:0px;
  top:159px;
  width:96px;
  height:84px;
}
#u693 {
  position:absolute;
  left:2px;
  top:34px;
  width:92px;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:84px;
}
#u694 {
  position:absolute;
  left:96px;
  top:159px;
  width:93px;
  height:84px;
}
#u695 {
  position:absolute;
  left:2px;
  top:26px;
  width:89px;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:84px;
}
#u696 {
  position:absolute;
  left:189px;
  top:159px;
  width:169px;
  height:84px;
  text-align:left;
}
#u697 {
  position:absolute;
  left:2px;
  top:26px;
  width:165px;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:84px;
}
#u698 {
  position:absolute;
  left:358px;
  top:159px;
  width:588px;
  height:84px;
  text-align:left;
}
#u699 {
  position:absolute;
  left:2px;
  top:26px;
  width:584px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:84px;
}
#u700 {
  position:absolute;
  left:946px;
  top:159px;
  width:86px;
  height:84px;
}
#u701 {
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:84px;
}
#u702 {
  position:absolute;
  left:1032px;
  top:159px;
  width:96px;
  height:84px;
}
#u703 {
  position:absolute;
  left:2px;
  top:26px;
  width:92px;
  word-wrap:break-word;
}
