body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
}
#u123 {
  position:absolute;
  left:2px;
  top:329px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u124 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u125 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u126 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u127 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u128 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u129 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u130 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u131 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u132 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u133 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u134 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u135 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u136 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u138 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u140 {
  position:absolute;
  left:402px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u142 {
  position:absolute;
  left:502px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u144 {
  position:absolute;
  left:603px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u147 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u148 {
  position:absolute;
  left:190px;
  top:1px;
  width:100px;
  height:68px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u149 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u150 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u151 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u152 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u153 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u154 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u156 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u157 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u158 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u159 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u160 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u161 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u164 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u167 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:3392px;
  top:1058px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u168_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:10px;
}
#u168_seg1 {
  position:absolute;
  left:-270px;
  top:2px;
  width:274px;
  height:8px;
}
#u169 {
  position:absolute;
  left:-182px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:129px;
  top:380px;
  width:1064px;
  height:280px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
  font-size:11px;
  color:#FFFFFF;
}
#u171_img.mouseOver {
}
#u171.mouseOver {
}
#u172 {
  position:absolute;
  left:2px;
  top:11px;
  width:45px;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u173 {
  position:absolute;
  left:49px;
  top:0px;
  width:60px;
  height:36px;
  font-size:11px;
  color:#FFFFFF;
}
#u173_img.mouseOver {
}
#u173.mouseOver {
}
#u174 {
  position:absolute;
  left:2px;
  top:11px;
  width:56px;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:36px;
}
#u175 {
  position:absolute;
  left:109px;
  top:0px;
  width:443px;
  height:36px;
  font-size:11px;
  color:#FFFFFF;
}
#u175_img.mouseOver {
}
#u175.mouseOver {
}
#u176 {
  position:absolute;
  left:2px;
  top:11px;
  width:439px;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:36px;
}
#u177 {
  position:absolute;
  left:552px;
  top:0px;
  width:402px;
  height:36px;
  font-size:11px;
  color:#FFFFFF;
}
#u177_img.mouseOver {
}
#u177.mouseOver {
}
#u178 {
  position:absolute;
  left:2px;
  top:11px;
  width:398px;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u179 {
  position:absolute;
  left:954px;
  top:0px;
  width:105px;
  height:36px;
  font-size:11px;
  color:#FFFFFF;
}
#u179_img.mouseOver {
}
#u179.mouseOver {
}
#u180 {
  position:absolute;
  left:2px;
  top:11px;
  width:101px;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u181 {
  position:absolute;
  left:0px;
  top:36px;
  width:49px;
  height:49px;
  font-size:14px;
}
#u182 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:49px;
}
#u183 {
  position:absolute;
  left:49px;
  top:36px;
  width:60px;
  height:49px;
  font-size:14px;
}
#u184 {
  position:absolute;
  left:2px;
  top:16px;
  width:56px;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:49px;
}
#u185 {
  position:absolute;
  left:109px;
  top:36px;
  width:443px;
  height:49px;
  font-size:14px;
  text-align:left;
}
#u186 {
  position:absolute;
  left:2px;
  top:16px;
  width:439px;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:49px;
}
#u187 {
  position:absolute;
  left:552px;
  top:36px;
  width:402px;
  height:49px;
  font-size:14px;
  text-align:left;
}
#u188 {
  position:absolute;
  left:2px;
  top:8px;
  width:398px;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:49px;
}
#u189 {
  position:absolute;
  left:954px;
  top:36px;
  width:105px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u189_img.mouseOver {
}
#u189.mouseOver {
}
#u190 {
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:44px;
}
#u191 {
  position:absolute;
  left:0px;
  top:85px;
  width:49px;
  height:44px;
  font-size:14px;
}
#u192 {
  position:absolute;
  left:2px;
  top:14px;
  width:45px;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
}
#u193 {
  position:absolute;
  left:49px;
  top:85px;
  width:60px;
  height:44px;
  font-size:14px;
}
#u194 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:44px;
}
#u195 {
  position:absolute;
  left:109px;
  top:85px;
  width:443px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u196 {
  position:absolute;
  left:2px;
  top:14px;
  width:439px;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:44px;
}
#u197 {
  position:absolute;
  left:552px;
  top:85px;
  width:402px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u198 {
  position:absolute;
  left:2px;
  top:6px;
  width:398px;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:44px;
}
#u199 {
  position:absolute;
  left:954px;
  top:85px;
  width:105px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:underline;
  color:#000000;
}
#u200 {
  position:absolute;
  left:2px;
  top:11px;
  width:101px;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:53px;
}
#u201 {
  position:absolute;
  left:0px;
  top:129px;
  width:49px;
  height:53px;
  font-size:14px;
}
#u202 {
  position:absolute;
  left:2px;
  top:18px;
  width:45px;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:53px;
}
#u203 {
  position:absolute;
  left:49px;
  top:129px;
  width:60px;
  height:53px;
  font-size:14px;
}
#u204 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:53px;
}
#u205 {
  position:absolute;
  left:109px;
  top:129px;
  width:443px;
  height:53px;
  font-size:14px;
  text-align:left;
}
#u206 {
  position:absolute;
  left:2px;
  top:18px;
  width:439px;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:53px;
}
#u207 {
  position:absolute;
  left:552px;
  top:129px;
  width:402px;
  height:53px;
  font-size:14px;
  text-align:left;
}
#u208 {
  position:absolute;
  left:2px;
  top:10px;
  width:398px;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:53px;
}
#u209 {
  position:absolute;
  left:954px;
  top:129px;
  width:105px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:underline;
  color:#000000;
}
#u210 {
  position:absolute;
  left:2px;
  top:16px;
  width:101px;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:41px;
}
#u211 {
  position:absolute;
  left:0px;
  top:182px;
  width:49px;
  height:41px;
  font-size:14px;
}
#u212 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:41px;
}
#u213 {
  position:absolute;
  left:49px;
  top:182px;
  width:60px;
  height:41px;
  font-size:14px;
}
#u214 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:41px;
}
#u215 {
  position:absolute;
  left:109px;
  top:182px;
  width:443px;
  height:41px;
  font-size:14px;
  text-align:left;
}
#u216 {
  position:absolute;
  left:2px;
  top:12px;
  width:439px;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:41px;
}
#u217 {
  position:absolute;
  left:552px;
  top:182px;
  width:402px;
  height:41px;
  font-size:14px;
  text-align:left;
}
#u218 {
  position:absolute;
  left:2px;
  top:12px;
  width:398px;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:41px;
}
#u219 {
  position:absolute;
  left:954px;
  top:182px;
  width:105px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:underline;
  color:#000000;
}
#u220 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:52px;
}
#u221 {
  position:absolute;
  left:0px;
  top:223px;
  width:49px;
  height:52px;
  font-size:14px;
}
#u222 {
  position:absolute;
  left:2px;
  top:18px;
  width:45px;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u223 {
  position:absolute;
  left:49px;
  top:223px;
  width:60px;
  height:52px;
  font-size:14px;
}
#u224 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:52px;
}
#u225 {
  position:absolute;
  left:109px;
  top:223px;
  width:443px;
  height:52px;
  font-size:14px;
  text-align:left;
}
#u226 {
  position:absolute;
  left:2px;
  top:10px;
  width:439px;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:52px;
}
#u227 {
  position:absolute;
  left:552px;
  top:223px;
  width:402px;
  height:52px;
  font-size:14px;
  text-align:left;
}
#u228 {
  position:absolute;
  left:2px;
  top:18px;
  width:398px;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:52px;
}
#u229 {
  position:absolute;
  left:954px;
  top:223px;
  width:105px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:underline;
  color:#000000;
}
#u230 {
  position:absolute;
  left:2px;
  top:15px;
  width:101px;
  word-wrap:break-word;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u231 {
  position:absolute;
  left:519px;
  top:121px;
  width:55px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  position:absolute;
  left:129px;
  top:163px;
  width:14px;
  height:16px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u235 {
  position:absolute;
  left:129px;
  top:163px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:942px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u237 {
  position:absolute;
  left:129px;
  top:208px;
  width:942px;
  height:108px;
  font-size:14px;
  color:#666666;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:942px;
  word-wrap:break-word;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u239 {
  position:absolute;
  left:129px;
  top:336px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u241 {
  position:absolute;
  left:703px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
