body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:676px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4625 {
  position:absolute;
  left:0px;
  top:107px;
  width:1199px;
  height:676px;
}
#u4626 {
  position:absolute;
  left:2px;
  top:330px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u4627 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u4628 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4629 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u4630 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4631 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u4632 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4633 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u4634 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4635 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u4636 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4637 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u4638 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4639 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4640 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4641 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4642 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u4643 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u4644 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4645 {
  position:absolute;
  left:190px;
  top:1px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4646 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4647 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4648 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4649 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4650 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4651 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4652 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u4653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4653 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4654 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u4655 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4656 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u4657 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u4658 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:542px;
}
#u4659 {
  position:absolute;
  left:475px;
  top:118px;
  width:266px;
  height:542px;
}
#u4660 {
  position:absolute;
  left:2px;
  top:263px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u4662 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4663 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u4665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4665 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u4666 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u4667_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4667 {
  position:absolute;
  left:758px;
  top:414px;
  width:30px;
  height:30px;
}
#u4668 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u4670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4670 {
  position:absolute;
  left:7px;
  top:126px;
  width:171px;
  height:56px;
  font-size:18px;
}
#u4671 {
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
#u4672 {
  position:absolute;
  left:758px;
  top:429px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4672_seg0 {
  position:absolute;
  left:-186px;
  top:-4px;
  width:190px;
  height:8px;
}
#u4673 {
  position:absolute;
  left:-143px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u4674 {
  position:absolute;
  left:788px;
  top:414px;
  width:403px;
  height:133px;
  color:#1E1E1E;
}
#u4675 {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  word-wrap:break-word;
}
#u4676_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4676 {
  position:absolute;
  left:421px;
  top:256px;
  width:30px;
  height:30px;
}
#u4677 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u4678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:right;
}
#u4678 {
  position:absolute;
  left:179px;
  top:262px;
  width:240px;
  height:133px;
  color:#1E1E1E;
  text-align:right;
}
#u4679 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u4680 {
  position:absolute;
  left:451px;
  top:271px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4680_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u4681 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4682 {
  position:absolute;
  left:758px;
  top:429px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4682_seg0 {
  position:absolute;
  left:-97px;
  top:-4px;
  width:101px;
  height:8px;
}
#u4683 {
  position:absolute;
  left:-98px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4684 {
  position:absolute;
  left:496px;
  top:414px;
  width:434px;
  height:80px;
  overflow:hidden;
}
#u4684_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4684_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
