body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1737px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3660 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1737px;
}
#u3661 {
  position:absolute;
  left:2px;
  top:860px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3662 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u3663 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3664 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u3665 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3666 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u3667 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3668 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u3669 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u3670 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u3671 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3672 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u3673 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3674 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3675 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u3676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3676 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3677 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u3678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u3678 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u3679 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3680 {
  position:absolute;
  left:190px;
  top:1px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3681 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3682 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3683 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3684 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3685 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3686 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3687 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u3688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3688 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3689 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u3690 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3691 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3692 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u3693 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u3695 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3696 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u3698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3698 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u3699 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u3701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3701 {
  position:absolute;
  left:17px;
  top:118px;
  width:140px;
  height:40px;
}
#u3702 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3703 {
  position:absolute;
  left:17px;
  top:196px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3704 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3705 {
  position:absolute;
  left:217px;
  top:196px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3706 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3707 {
  position:absolute;
  left:117px;
  top:226px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u3707_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u3707_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3708 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3709 {
  position:absolute;
  left:417px;
  top:196px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3710 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3711 {
  position:absolute;
  left:317px;
  top:226px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u3711_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u3711_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3712 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3713 {
  position:absolute;
  left:467px;
  top:256px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u3713_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u3713_seg1 {
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:57px;
}
#u3713_seg2 {
  position:absolute;
  left:-404px;
  top:50px;
  width:408px;
  height:8px;
}
#u3713_seg3 {
  position:absolute;
  left:-404px;
  top:0px;
  width:8px;
  height:58px;
}
#u3713_seg4 {
  position:absolute;
  left:-410px;
  top:-7px;
  width:20px;
  height:20px;
}
#u3714 {
  position:absolute;
  left:-250px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u3715 {
  position:absolute;
  left:517px;
  top:226px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u3715_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u3715_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3716 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3717 {
  position:absolute;
  left:617px;
  top:196px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3718 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3719 {
  position:absolute;
  left:817px;
  top:196px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3720 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u3721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3721 {
  position:absolute;
  left:817px;
  top:276px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3722 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3723 {
  position:absolute;
  left:717px;
  top:226px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u3723_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u3723_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3724 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3725 {
  position:absolute;
  left:667px;
  top:256px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3725_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u3725_seg1 {
  position:absolute;
  left:-4px;
  top:46px;
  width:154px;
  height:8px;
}
#u3725_seg2 {
  position:absolute;
  left:137px;
  top:40px;
  width:20px;
  height:20px;
}
#u3726 {
  position:absolute;
  left:0px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3727 {
  position:absolute;
  left:917px;
  top:226px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3727_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u3727_seg1 {
  position:absolute;
  left:78px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3728 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3729 {
  position:absolute;
  left:1008px;
  top:196px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3730 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3731 {
  position:absolute;
  left:817px;
  top:399px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3732 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3733 {
  position:absolute;
  left:1058px;
  top:256px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3733_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u3733_seg1 {
  position:absolute;
  left:-141px;
  top:46px;
  width:145px;
  height:8px;
}
#u3733_seg2 {
  position:absolute;
  left:-148px;
  top:40px;
  width:20px;
  height:20px;
}
#u3734 {
  position:absolute;
  left:-96px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3735 {
  position:absolute;
  left:867px;
  top:336px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3735_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u3735_seg1 {
  position:absolute;
  left:-10px;
  top:50px;
  width:20px;
  height:20px;
}
#u3736 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3737 {
  position:absolute;
  left:10px;
  top:485px;
  width:170px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3738 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u3739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3739 {
  position:absolute;
  left:10px;
  top:503px;
  width:100px;
  height:60px;
}
#u3740 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3741 {
  position:absolute;
  left:210px;
  top:503px;
  width:100px;
  height:60px;
}
#u3742 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3743 {
  position:absolute;
  left:410px;
  top:503px;
  width:100px;
  height:60px;
}
#u3744 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3745 {
  position:absolute;
  left:110px;
  top:533px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u3745_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u3745_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3746 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3747 {
  position:absolute;
  left:310px;
  top:533px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u3747_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u3747_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3748 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3749 {
  position:absolute;
  left:610px;
  top:503px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3750 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3751 {
  position:absolute;
  left:810px;
  top:503px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3752 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3753 {
  position:absolute;
  left:510px;
  top:533px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u3753_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u3753_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3754 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3755 {
  position:absolute;
  left:710px;
  top:533px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u3755_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u3755_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3756 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3757 {
  position:absolute;
  left:1010px;
  top:503px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3758 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3759 {
  position:absolute;
  left:910px;
  top:533px;
  width:0px;
  height:0px;
  font-size:11px;
  color:#333333;
}
#u3759_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u3759_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3760 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3761 {
  position:absolute;
  left:0px;
  top:702px;
  width:1205px;
  height:627px;
}
#u3762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3762 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u3763 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u3764 {
  position:absolute;
  left:100px;
  top:0px;
  width:150px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u3765 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u3766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3766 {
  position:absolute;
  left:250px;
  top:0px;
  width:100px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u3767 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u3768 {
  position:absolute;
  left:350px;
  top:0px;
  width:300px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u3769 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u3770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3770 {
  position:absolute;
  left:650px;
  top:0px;
  width:190px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u3771 {
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u3772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u3772 {
  position:absolute;
  left:840px;
  top:0px;
  width:360px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u3773 {
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  word-wrap:break-word;
}
#u3774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u3774 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:59px;
  font-size:12px;
  text-align:left;
}
#u3775 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:59px;
}
#u3776 {
  position:absolute;
  left:100px;
  top:30px;
  width:150px;
  height:59px;
  font-size:12px;
  text-align:left;
}
#u3777 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u3778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u3778 {
  position:absolute;
  left:250px;
  top:30px;
  width:100px;
  height:59px;
  font-size:12px;
  text-align:left;
}
#u3779 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u3780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:59px;
}
#u3780 {
  position:absolute;
  left:350px;
  top:30px;
  width:300px;
  height:59px;
  font-size:12px;
  text-align:left;
}
#u3781 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u3782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:59px;
}
#u3782 {
  position:absolute;
  left:650px;
  top:30px;
  width:190px;
  height:59px;
  font-size:12px;
  text-align:left;
}
#u3783 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u3784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:59px;
}
#u3784 {
  position:absolute;
  left:840px;
  top:30px;
  width:360px;
  height:59px;
  font-size:12px;
  text-align:left;
}
#u3785 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  word-wrap:break-word;
}
#u3786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:144px;
}
#u3786 {
  position:absolute;
  left:0px;
  top:89px;
  width:100px;
  height:144px;
  font-size:12px;
  text-align:left;
}
#u3787 {
  position:absolute;
  left:2px;
  top:64px;
  width:96px;
  word-wrap:break-word;
}
#u3788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:144px;
}
#u3788 {
  position:absolute;
  left:100px;
  top:89px;
  width:150px;
  height:144px;
  font-size:12px;
  text-align:left;
}
#u3789 {
  position:absolute;
  left:2px;
  top:57px;
  width:146px;
  word-wrap:break-word;
}
#u3790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:144px;
}
#u3790 {
  position:absolute;
  left:250px;
  top:89px;
  width:100px;
  height:144px;
  font-size:12px;
  text-align:left;
}
#u3791 {
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u3792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
}
#u3792 {
  position:absolute;
  left:350px;
  top:89px;
  width:300px;
  height:144px;
  font-size:12px;
  text-align:left;
}
#u3793 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  word-wrap:break-word;
}
#u3794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:144px;
}
#u3794 {
  position:absolute;
  left:650px;
  top:89px;
  width:190px;
  height:144px;
  font-size:12px;
  text-align:left;
}
#u3795 {
  position:absolute;
  left:2px;
  top:34px;
  width:186px;
  word-wrap:break-word;
}
#u3796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:144px;
}
#u3796 {
  position:absolute;
  left:840px;
  top:89px;
  width:360px;
  height:144px;
  font-size:12px;
  text-align:left;
}
#u3797 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  word-wrap:break-word;
}
#u3798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u3798 {
  position:absolute;
  left:0px;
  top:233px;
  width:100px;
  height:127px;
  font-size:12px;
  text-align:left;
}
#u3799 {
  position:absolute;
  left:2px;
  top:56px;
  width:96px;
  word-wrap:break-word;
}
#u3800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:127px;
}
#u3800 {
  position:absolute;
  left:100px;
  top:233px;
  width:150px;
  height:127px;
  font-size:12px;
  text-align:left;
}
#u3801 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  word-wrap:break-word;
}
#u3802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u3802 {
  position:absolute;
  left:250px;
  top:233px;
  width:100px;
  height:127px;
  font-size:12px;
  text-align:left;
}
#u3803 {
  position:absolute;
  left:2px;
  top:41px;
  width:96px;
  word-wrap:break-word;
}
#u3804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:127px;
}
#u3804 {
  position:absolute;
  left:350px;
  top:233px;
  width:300px;
  height:127px;
  font-size:12px;
  text-align:left;
}
#u3805 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u3806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:127px;
}
#u3806 {
  position:absolute;
  left:650px;
  top:233px;
  width:190px;
  height:127px;
  font-size:12px;
  text-align:left;
}
#u3807 {
  position:absolute;
  left:2px;
  top:18px;
  width:186px;
  word-wrap:break-word;
}
#u3808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:127px;
}
#u3808 {
  position:absolute;
  left:840px;
  top:233px;
  width:360px;
  height:127px;
  font-size:12px;
  text-align:left;
}
#u3809 {
  position:absolute;
  left:2px;
  top:48px;
  width:356px;
  word-wrap:break-word;
}
#u3810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:76px;
}
#u3810 {
  position:absolute;
  left:0px;
  top:360px;
  width:100px;
  height:76px;
  font-size:12px;
  text-align:left;
}
#u3811 {
  position:absolute;
  left:2px;
  top:30px;
  width:96px;
  word-wrap:break-word;
}
#u3812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:76px;
}
#u3812 {
  position:absolute;
  left:100px;
  top:360px;
  width:150px;
  height:76px;
  font-size:12px;
  text-align:left;
}
#u3813 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  word-wrap:break-word;
}
#u3814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:76px;
}
#u3814 {
  position:absolute;
  left:250px;
  top:360px;
  width:100px;
  height:76px;
  font-size:12px;
  text-align:left;
}
#u3815 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:76px;
}
#u3816 {
  position:absolute;
  left:350px;
  top:360px;
  width:300px;
  height:76px;
  font-size:12px;
  text-align:left;
}
#u3817 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u3818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
}
#u3818 {
  position:absolute;
  left:650px;
  top:360px;
  width:190px;
  height:76px;
  font-size:12px;
  text-align:left;
}
#u3819 {
  position:absolute;
  left:2px;
  top:16px;
  width:186px;
  word-wrap:break-word;
}
#u3820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:76px;
}
#u3820 {
  position:absolute;
  left:840px;
  top:360px;
  width:360px;
  height:76px;
  font-size:12px;
  text-align:left;
}
#u3821 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:106px;
}
#u3822 {
  position:absolute;
  left:0px;
  top:436px;
  width:100px;
  height:106px;
  font-size:12px;
  text-align:left;
}
#u3823 {
  position:absolute;
  left:2px;
  top:46px;
  width:96px;
  word-wrap:break-word;
}
#u3824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:106px;
}
#u3824 {
  position:absolute;
  left:100px;
  top:436px;
  width:150px;
  height:106px;
  font-size:12px;
  text-align:left;
}
#u3825 {
  position:absolute;
  left:2px;
  top:38px;
  width:146px;
  word-wrap:break-word;
}
#u3826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:106px;
}
#u3826 {
  position:absolute;
  left:250px;
  top:436px;
  width:100px;
  height:106px;
  font-size:12px;
  text-align:left;
}
#u3827 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  word-wrap:break-word;
}
#u3828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:106px;
}
#u3828 {
  position:absolute;
  left:350px;
  top:436px;
  width:300px;
  height:106px;
  font-size:12px;
  text-align:left;
}
#u3829 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u3830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:106px;
}
#u3830 {
  position:absolute;
  left:650px;
  top:436px;
  width:190px;
  height:106px;
  font-size:12px;
  text-align:left;
}
#u3831 {
  position:absolute;
  left:2px;
  top:38px;
  width:186px;
  word-wrap:break-word;
}
#u3832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:106px;
}
#u3832 {
  position:absolute;
  left:840px;
  top:436px;
  width:360px;
  height:106px;
  font-size:12px;
  text-align:left;
}
#u3833 {
  position:absolute;
  left:2px;
  top:38px;
  width:356px;
  word-wrap:break-word;
}
#u3834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u3834 {
  position:absolute;
  left:0px;
  top:542px;
  width:100px;
  height:80px;
  font-size:12px;
  text-align:left;
}
#u3835 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  word-wrap:break-word;
}
#u3836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u3836 {
  position:absolute;
  left:100px;
  top:542px;
  width:150px;
  height:80px;
  font-size:12px;
  text-align:left;
}
#u3837 {
  position:absolute;
  left:2px;
  top:25px;
  width:146px;
  word-wrap:break-word;
}
#u3838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u3838 {
  position:absolute;
  left:250px;
  top:542px;
  width:100px;
  height:80px;
  font-size:12px;
  text-align:left;
}
#u3839 {
  position:absolute;
  left:2px;
  top:25px;
  width:96px;
  word-wrap:break-word;
}
#u3840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u3840 {
  position:absolute;
  left:350px;
  top:542px;
  width:300px;
  height:80px;
  font-size:12px;
  text-align:left;
}
#u3841 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u3842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
}
#u3842 {
  position:absolute;
  left:650px;
  top:542px;
  width:190px;
  height:80px;
  font-size:12px;
  text-align:left;
}
#u3843 {
  position:absolute;
  left:2px;
  top:32px;
  width:186px;
  word-wrap:break-word;
}
#u3844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:80px;
}
#u3844 {
  position:absolute;
  left:840px;
  top:542px;
  width:360px;
  height:80px;
  font-size:12px;
  text-align:left;
}
#u3845 {
  position:absolute;
  left:2px;
  top:25px;
  width:356px;
  word-wrap:break-word;
}
#u3761_ann {
  position:absolute;
  left:1193px;
  top:698px;
  width:1px;
  height:1px;
}
