body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:674px;
}
#u917 {
  position:absolute;
  left:2px;
  top:329px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u918 {
  position:absolute;
  left:228px;
  top:58px;
  width:23px;
  height:11px;
}
#u919 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u920 {
  position:absolute;
  left:329px;
  top:58px;
  width:23px;
  height:11px;
}
#u921 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u922 {
  position:absolute;
  left:528px;
  top:58px;
  width:23px;
  height:11px;
}
#u923 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u924 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u925 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u926 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:40px;
}
#u927 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u928 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u929 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u930 {
  position:absolute;
  left:202px;
  top:79px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u932 {
  position:absolute;
  left:303px;
  top:78px;
  width:75px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u935 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u936 {
  position:absolute;
  left:190px;
  top:1px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u937 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u938 {
  position:absolute;
  left:290px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u939 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u940 {
  position:absolute;
  left:390px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u941 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u942 {
  position:absolute;
  left:412px;
  top:23px;
  width:55px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u944 {
  position:absolute;
  left:490px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u945 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u946 {
  position:absolute;
  left:590px;
  top:0px;
  width:100px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u947 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u948 {
  position:absolute;
  left:428px;
  top:58px;
  width:23px;
  height:11px;
}
#u949 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u952 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  position:absolute;
  left:1070px;
  top:18px;
  width:110px;
  height:32px;
}
#u955 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
